DISCORD_BOT_TOKEN=
DISCORD_WEBHOOK_URL=
DISCORD_WEBHOOK_AGENT_1=
DISCORD_WEBHOOK_AGENT_2=
DISCORD_WEBHOOK_AGENT_3=
DISCORD_WEBHOOK_AGENT_4=
DISCORD_WEBHOOK_AGENT_5=
DISCORD_WEBHOOK_AGENT_6=
DISCORD_WEBHOOK_AGENT_7=
DISCORD_WEBHOOK_AGENT_8=
